@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

html {
    scroll-behavior: smooth;
}

* {
    box-sizing: border-box;
}

body {
    background-image: url('../image/background.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    font-family: 'Roboto', sans-serif;
    overflow: auto;
    margin: 0;
}

nav {
    background-color: white;
    padding: 5px;
    margin: 0;
    position: sticky;
    top: 0;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

nav li {
    display: inline;
    list-style-type: none;
    margin-left: 15px;
}

nav a {
    text-decoration: none;
    color: #20AAE2;
}

nav a:hover {
    font-weight: 550;
}

main {
    padding: 20px;
    overflow: auto;
}

.page-container {
    background-color: white;
    border-radius: 15px;
    margin: 0px 25px 0px 25px;
    padding: 10px;
    overflow: auto;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    padding: 20px;
    margin-top: 20px;
}

.content {
    background-color: white;
    width: 75%;
    padding: 25px;
    float: left;
}

.post-container {
    display: flex;
    flex-direction: row;
    align-content: space-between;
    overflow: auto;
    padding: 0px 10px 0px 10px;
}

.post-container img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    object-position: center;
    border-radius: 5px;
}


.post-content {
    margin-left: 15px;
    width: 75%;
}

.post-content h3 {
    margin-top: 0px;
    color: #20AAE2;
}

.post-content p {
    text-align: justify;
}

aside {
    width: 25%;
    float: right;
    padding: 25px;
}

aside img {
    display: flex;
    align-self: center;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-position: center;
    object-fit: cover;
}

aside h3 {
    color: #20AAE2;
    font-weight: 400;
    text-align: center;
}

.author {
    position: sticky;
    top: 0;
}

@media (min-height: 600) {
    nav ul {
        position: sticky;
        top: 0;
    }
}